.data__table-head,
.data__table-body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  text-align: center;
  font-size: fz(table-d);
  line-height: lh(table-d);

  tr {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }

  @media ($tablet) {
    font-size: fz(table-t);
    line-height: lh(table-t);
  }

  @media ($mobile) {
    font-size: fz(table-m);
    line-height: lh(table-m);
  }
}

.data__table-body {
  .data__table-cell {
    &--parameter {
      justify-content: flex-start;
      text-align: left;
    }

    &--value {
      font-weight: fw(bold);
      color: $primary;
    }
  }
}

.data__table-row {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $white;
  }

  &--full {
    margin-top: 20px;
    padding: 7px 5px;
    text-align: center;
    justify-content: center;
    font-weight: fw(bold);

    &::after {
      background: $primary;
    }
  }

  &--station {
    margin-top: 10px;
    padding: 7px 5px;
    text-align: center;
    justify-content: center;
    font-weight: fw(bold);

    &::after {
      background: $primary;
    }
  }
}

.data__table-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;

  @media ($mobile) {
    &--marking {
      display: none;
    }

    &--value {
      width: 35%;
    }
  }
}

.data__table-input {
  transition: z-index 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;

  &:hover,
  &:focus {
    z-index: 2;
  }

  @media ($tablet) {
    font-size: fz(table-t);
    line-height: lh(table-t);
  }

  @media ($mobile) {
    font-size: fz(table-m);
    line-height: lh(table-m);
  }
}

.data__table-head {
  .data__table-cell {
    padding: 10px 5px;
  }
}

.data__table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  min-width: 708px;

  &--stations {
    margin-bottom: 20px;

    .data__table-input {
      text-align: center;

      &:disabled {
        opacity: 30%;

        ~ .data__input--dimension,
        ~ .data__input--definition {
          opacity: 30%;
        }

        &:hover,
        &:focus,
        &:active {
          box-shadow: 0 0 0 1px $white;
        }
      }
    }

    .data__table-cell {
      &--station {
        width: 10%;
      }

      &--length {
        width: 15%;

        .data__table-input {
          padding: 8px 55px 6px;
        }
      }

      &--geo-point {
        width: 20%;

        .data__table-input {
          padding: 8px 55px 6px;
        }
      }

      &--pump-quant {
        width: 15%;

        .data__table-input {
          padding: 8px 55px 6px;
        }
      }

      &--min-pressure {
        width: 20%;

        .data__table-input {
          padding: 8px 70px 6px;
        }
      }

      &--max-pressure {
        width: 20%;

        .data__table-input {
          padding: 8px 70px 6px;
        }
      }
    }
  }

  &--results {
    margin-bottom: 40px;
    min-width: unset;

    .data__table-cell {
      padding: 7px 5px;
      border: 0;

      &--parameter {
        width: 60%;
      }

      &--marking {
        width: 13%;
      }

      &--value {
        width: 13%;
      }

      &--dimension {
        width: 14%;
      }
    }
  }

  @media ($tablet) {
    &--stations {
      .data__table-cell {
        .data__table-input {
          text-align: left;
        }

        &--length {
          .data__table-input {
            padding: 8px 30px 6px 50px;
          }
        }

        &--geo-point {
          .data__table-input {
            padding: 8px 30px 6px 50px;
          }
        }

        &--pump-quant {
          .data__table-input {
            padding: 8px 30px 6px 50px;
          }
        }

        &--min-pressure {
          .data__table-input {
            padding: 8px 45px 6px 63px;
          }
        }

        &--max-pressure {
          .data__table-input {
            padding: 8px 45px 6px 65px;
          }
        }
      }
    }

    &--results {
      .data__table-cell {
        &--parameter {
          width: 50%;
        }

        &--marking {
          width: 18%;
        }

        &--value {
          width: 17%;
        }

        &--dimension {
          width: 15%;
        }
      }
    }
  }

  @media ($mobile) {
    &--stations {
      .data__table-cell {
        &--length {
          .data__table-input {
            padding: 8px 30px 6px 50px;
          }
        }

        &--geo-point {
          .data__table-input {
            padding: 8px 30px 6px 50px;
          }
        }

        &--pump-quant {
          .data__table-input {
            padding: 8px 30px 6px 50px;
          }
        }

        &--min-pressure {
          .data__table-input {
            padding: 8px 45px 6px 63px;
          }
        }

        &--max-pressure {
          .data__table-input {
            padding: 8px 45px 6px 65px;
          }
        }
      }
    }

    &--results {
      .data__table-cell {
        &--parameter {
          width: 50%;
        }

        &--marking {
          display: none;
        }

        &--value {
          width: 20%;
        }

        &--dimension {
          width: 30%;
        }
      }
    }
  }
}
