.container {
  max-width: $desktop-width;
  padding: padding(container-d);
  margin: 0 auto;

  @media ($tablet) {
    width: auto;
    padding: padding(container-t);
  }

  @media ($mobile) {
    min-width: $mobile-width;
    padding: padding(container-m);
  }
}
