// Media BreakPoints
$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1279px;
$desktop-width: 1280px;

$desktop: "min-width: #{$desktop-width}";
$tablet: "max-width: #{$max-tablet-width}";
$mobile: "max-width: #{$max-mobile-width}";

// Padding Variables
$paddings: (
  container-m: 0 20px,
  container-t: 0 30px,
  container-d: 0 50px,
);

// Font Variables
$font-stack: (
  montserrat: (
    "Montserrat",
    "Tahoma",
    "Arial",
    sans-serif,
  ),
);

$font-weights: (
  light: 300,
  normal: 400,
  regular: 400,
  bold: 700,
);

$font-line-height: (
  base: 22px,
  nav-d: 24px,
  nav-m: 18px,
  h1-d: 46px,
  h1-t: 46px,
  h1-m: 34px,
  h2-d: 42px,
  h2-t: 42px,
  h2-m: 30px,
  intro-d: 30px,
  intro-t: 28px,
  intro-m: 24px,
  label-d: 26px,
  label-m: 24px,
  input-d: 20px,
  input-m: 18px,
  defs-d: 20px,
  defs-t: 16px,
  defs-m: 14px,
  table-d: 24px,
  table-t: 22px,
  table-m: 18px,
);

$font-sizes: (
  base: 18px,
  link-d: 16px,
  link-m: 14px,
  nav-d: 18px,
  nav-m: 12px,
  h1-d: 34px,
  h1-t: 30px,
  h1-m: 22px,
  h2-d: 26px,
  h2-t: 24px,
  h2-m: 16px,
  intro-d: 16px,
  intro-t: 16px,
  intro-m: 14px,
  button-d: 16px,
  button-m: 14px,
  label-d: 16px,
  label-m: 14px,
  input-d: 16px,
  input-m: 14px,
  defs-d: 14px,
  defs-t: 12px,
  defs-m: 10px,
  table-d: 16px,
  table-t: 14px,
  table-m: 12px,
);

// Color Variables
$black: #000000;
$white: #ffffff;
$dark: #18191a;
$primary: #e2b024;
