// Media BreakPoints
$mobile-width: 320px;
$max-mobile-width: 767px;
$tablet-width: 768px;
$max-tablet-width: 1279px;
$desktop-width: 1280px;

$desktop: "min-width: #{$desktop-width}";
$tablet: "max-width: #{$max-tablet-width}";
$mobile: "max-width: #{$max-mobile-width}";

// Padding Variables
$paddings: (
  container-m: 0 30px,
  container-t: 0 50px,
  container-d: 0 50px,
);

// Font Variables
$font-stack: (
  montserrat: (
    "Montserrat",
    "Tahoma",
    "Arial",
    sans-serif,
  ),
);

$font-weights: (
  light: 300,
  normal: 400,
  regular: 400,
  bold: 700,
);

$line-height-base: 22px;
$line-height-link: 24px;
$line-height-nav-d: 24px;
$line-height-nav-m: 18px;

$font-line-height: (
  base: $line-height-base,
  nav-d: $line-height-nav-d,
  nav-m: $line-height-nav-m,
);

$font-size-base: 18px;
$font-size-link-d: 16px;
$font-size-link-m: 14px;
$font-size-nav-d: 18px;
$font-size-nav-m: 12px;

$font-sizes: (
  base: $font-size-base,
  link-d: $font-size-link-d,
  link-m: $font-size-link-m,
  nav-d: $font-size-nav-d,
  nav-m: $font-size-nav-m,
);

// Color Variables
$black: #000000;
$white: #ffffff;
$dark: #18191a;
$primary: #e2b024;
